**/target
**/log
*.class
*.classpath
**/.idea
*.iml
*.project
*.settings
**/.vscode
**/.metadata
*/.springBeans
.DS_Store
dal/dal-mysql/src/com
algorithm-server/src/main/resources


*.stackdump
**/generatorConfig.xml
